#selectedElement{
    border: 3px dashed red;
}
.inconvenienceTschikas {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 10em;
    width: 10em;
    background-image: url(docs/assets/tschika\ afk\ looking\ at\ you.png);
    background-size: 100%;
    cursor: grab;
    transition: all var(--tschikaMovementSpeed) linear;
    z-index: 1000;
}
#tschikaMenuContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    background: salmon;
    height: fit-content;
    z-index: 999;
}
.tschikaMenuElements {
    font-weight: bold;
    margin-bottom: 1.5vh;
    font-size: 80%;
    width: 95%;
    padding: 0.7vh;
    text-align: center;
    background: skyblue;
    border: 3px solid aqua;
    border-radius: 5px;
}
button.tschikaMenuElements:hover{
    cursor: pointer;
    transition: ease-out 0.7s;
    box-shadow: inset 0 0 0 5vh #ff0055;
}
.tschikaTrailers{
    height: 5em;
    width: 5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 998;
}
